@{
    Layout = "_LayoutAdmin";
}

@section CardHeader {
    <span>Anasayfa</span>
}


@model Internet_1.Models.AdminDashboardViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Toplam Kullanýcý Sayýsý</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalUsers</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Toplam Ýlan Sayýsý</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalListings</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Toplam Kategori Sayýsý</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalCategories</div>
                </div>
            </div>
        </div>
    </div>
</div>
